html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(216, 216, 250);
  color: #4d4d4d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  color: white;
  background-color: #4d4d4d;
  border: none;
  padding: 1rem 8rem;
  border-radius: 3rem;
  font-size: 2rem;
}