.breakText{
  font-size: 6rem;
  margin: 0;
}

.boxes{
  display: flex;
  justify-content: space-evenly;
}

.boxesChildren{
  margin: 1rem;
  padding: 2rem;
  border: 2px solid #4d4d4d;
}

.followText{
  font-weight: lighter;
  font-size: 2rem;
  margin:0 0 4rem 0;
}

.growth{
  margin-top: 2rem;
  display: flex;
  position: relative;
}

.scale{
  position: relative;
  margin-top: 1rem;
  display: flex;
}

.hero{
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon{
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 6rem;
  color: white;
  border: 6px solid white;
  padding: 2rem;
  border-radius: .5rem;
  z-index: 2;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 2.5rem;
  color: #4d4d4d;
  background-color: white;
  border-radius: 3rem;
  margin-top: 16rem;
  margin-left: 15%;
  text-align: center;
  width: 70%;
  height: 50vh;
  align-items: center;
}

.movieBottom{
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 216, 250);
  color: #4d4d4d;
  font-size: 3rem;
  padding-top: 2rem;
  border-radius: 2rem 8rem;
  position: absolute;
  bottom: -200px;
  left: 0;
}
.movieBottom p {
  margin: 1rem;
  z-index: 3;
}

.video{
  max-width: 100%;
}

.left{
  text-align: left;
  margin-left: 1rem;
}
.right{
  text-align: right;
  margin-right: 1rem;
}

.left button{
  position: absolute;
  bottom: 0;
  left: 15rem;
}
.right button {
  position: absolute;
  bottom: 0;
  right: 15rem;
}

@media screen and (max-width: 1260px) {
  .hero{
    background: url('/ORIGINS Cover Video.mp4');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .icon{
    top: 0;
    left: 50%;
  }
  .intro{
    font-size: 1.3rem;
  }
  .movieBottom{
    background-color: transparent;
    font-size: 1.3rem;
  }
  .scale button{
    padding: .5rem 1rem;
  }
  .scale img{
    aspect-ratio: 600/450;
    border-radius: .5rem;
  }
  .boxes{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .boxesChildren{
    width: 50%;
    text-align: center;
  }
  .boxesChildren:nth-child(odd){
    font-size: 2rem;
    font-size: larger;
  }
}
@media screen and (max-width: 968px) {
  .scale button{
    font-size: 1.1rem;
    position: static;
  }
  .scale img{
    width: 300px;
    height: 100vh;
  }
  
}